<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Nicole White | Skills</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/nlw.css' %}">

    <!-- FontAwesome for search icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


  </head>

  <body>
    <div id="preloader">
       <div id="status">&nbsp;</div>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/../">• NLW •</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/../">Portfolio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/skills/">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="subheader">

      <span class="leftalign">
         <h5 class="port_title">SKILLS</h5>
      </span>

      <span class="rightalign">
        <form class="form-inline my-2 my-lg-0">
          <button class="searchbutton" type="submit">
            <i class="fa fa-search"></i>
          </button>
          <input class="myform" type="text" placeholder="Search" aria-label="Search">
        </form>
      </span>

    </div>

    <main role="main">

      <section class="jumbotron">

        <div class='text-muted'>
</br>
This is a sampling of some of what I've accomplished using the geomatics skills
I've acquired and strengthened over the past two years.
</br>Please <a href="/contact/">contact me</a> should you wish to look at my complete resume.
<br/><br/>

        </div>
      </section>

      <div id="wrap" class='text-muted'>
      <h4 class='jumbotron-heading'>Geographic Information Systems</h4>

      <b>• Developed workflows suiting the unique challenges of geospatial problems using both proprietary and open source technologies, to provide clients with the solution that’s right for them.</b>
      <br/><br/>
      • Competency with <b>ArcGIS for Desktop (10.x), ArcGIS Pro, ArcGIS Online</b>, and <b>QGIS</b>. Comfortable working with versioned data in an enterprise environment.
      <br/><br/>
      • Employed knowledge of geoprocessing and spatial analysis methodologies including projection issues to ensure data integrity between spatial database objects.
      <br/><br/>
      • Used ArcGIS <b>Network Analyst</b> to update routes and associated event tables for municipal waste collection routes and exported into KML format, for use in a collection reminder app compatible with Google Home and Amazon Echo digital assistants.
      <br/><br/>
      • Wrote a <b>Python</b> script to calculate cumulative elevation gain using the Z values of vertices within 3D polylines, used to calculate difficulty/skill level for recreational trails in municipal database.
      <br/><br/>
      • Created custom Python <b>script tools</b> to perform automated batch processing of data within an Esri geoprocessing framework, eliminating the need to manually perform clips, data exports, and other tasks needing to be performed on a regular basis.
      <br/><br/>
      • Developed a dynamic web map using <b>GeoServer</b> and <b>Leaflet</b> to display <b>GeoJSON</b> data derived from <b>PostGIS</b> tables.
      <br/><br/>

      <h4 class='jumbotron-heading'>Coding & IT</h4>
      • Refined a <b>PostgreSQL database</b>, normalizing and amending data ensure reliability, data integrity, and <b>long term product scalability</b>.
      <br/><br/>
      • Use of VMWare ESXi virtualization environment to test web GIS applications in an Ubuntu <b>Linux</b> development environment.
      <br/><br/>
      • Created Python scripts incorporating the <b>numpy, pandas</b>, and <b>geopandas</b> modules to process spreadsheet data for use in a GIS.
      <br/><br/>
      • Designed and developed a new <b>QGIS 3</b> GUI plugin using <b>PyQt5</b> and the <b>QGIS Python API</b>.
      <br/><br/>
      • Leveraged <b>Django, Javascript, CSS,</b> and <b>HTML 5</b> to create dynamic web applications.
      <br/><br/>
      <h4 class='jumbotron-heading'>Design</h4>

      • Applied knowledge of <b>cartographic design</b> and production concepts to create <b>information-rich</b> print maps to client specifications.
      <br/><br/>
      • Designed a series of local road maps drawing data from continually updated layers within <b>enterprise GIS</b>, resulting in the ability to efficiently produce new maps each year featuring any updates made to the data, yet maintaining existing <b>symbology, label classes</b>, and <b>layout elements</b>.
      <br/><br/>
      • Experience using <b>Adobe</b> products (<b>Illustrator, Photoshop, InDesign</b>) and <b>AutoDesk</b> software to produce technical illustrations for mapping applications.
      <br/><br/>
      • Use of free and open source graphics software (<b>Inkscape, GIMP</b>) to create professional-grade maps and graphics.
      <br/><br/>

      <h4 class='jumbotron-heading'>Collaboration</h4>
      • <b>Planned and scheduled</b> tasks for a collaborative team developing a new enterprise GIS. Followed up with team members to ensure timelines and standards of quality were met.
      <br/><br/>
      • <b>Managed</b> groups of up to 30 employees, training new hires, and providing ongoing <b>team mentorship and QA</b>. Used scheduling software to manage a rota for 200 team members.
      <br/><br/>
      • Responded to external requests from citizens seeking map graphics, AutoCAD files, and other municipal geographic data.
      <br/><br/>
      • Participated in and facilitated monthly face-to-face and Skype meetings to discuss ongoing GIS projects with colleagues.
      <br/><br/>
      • <b>Created documentation</b> for recurring or predictable procedures and processes, to ease the transfer of job responsibilities between employees or across service areas.
      <br/><br/>
      • Liaised with internal personnel from all company departments to address <b>technical, HR,</b> and <b>customer service issues.</b>
</div>

      <p>
      <a href="/../" class="btn btn-primary my-2">Back</a>
    </p>

    </main>

    <footer class="footer">
      <div class="container">
<br />
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery-3.3.1.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'js/preloader.js' %}" ></script>
    </body>
</html>
